@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/PretendardVariable.woff2');
}

@font-face {
  font-family: 'neodgm';
  src: url('./assets/fonts/neodgm.woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-pretendard text-light;
  }

  *,
  *:before,
  *:after {
    @apply cursor-default;
  }
}

@layer components {
  #phaser canvas {
    width: 100%;
  }

  button,
  a,
  a > span,
  svg,
  svg > path {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
}
