@font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/PretendardVariable.woff2');
}

@font-face {
  font-family: 'neodgm';
  src: url('./assets/fonts/neodgm.woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-pretendard h-full text-light;
  }
}

@layer utilities {
  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
}
